@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
    font-family: 'Francois One', sans-serif;
}

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    background-image: url(https://img.freepik.com/vetores-gratis/padrao-de-xadrez-sem-costura-tartan-escocia-tecido-de-fundo-retro-textura-geometrica-quadrada-de-cor-de-selecao-vintage-para-impressao-textil-papel-de-embrulho-cartao-de-presente-papel-de-parede_87543-4019.jpg?w=2000);
    position: relative;
}
#container::after{
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.3;
}

#card{
    max-width: 370px;
    width: 85vw;
    height: 90vh;
    min-height: 740px;
    background-color: #F7CB9E;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
#bandeirinhas{
    position: absolute;
    top: 0;
}
#bandeirinhas img{
    width: 100%;
    filter: drop-shadow(5px 5px 3px #C11F54);
}

#logo{
    margin-top: 50px;
    font-size: 4rem;
    color: #EFB935;
    width: 90%;
    height: 38%;
    border-radius: 40% 60% 20% 80% / 77% 80% 20% 23%;
    background-image: linear-gradient(90deg, #F04D1D, #f07924);
    box-shadow: 5px 5px 10px 1px #F04D1D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#laiz{
    font-size: 5rem;
    color: #ec3f45;
    border-bottom: 3px solid #EFB935;
}
#midle-message{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#midle-message div{
    display: flex;
    align-items: center;
    background-image: url(https://img.freepik.com/vetores-gratis/padrao-de-xadrez-sem-costura-tartan-escocia-tecido-de-fundo-retro-textura-geometrica-quadrada-de-cor-de-selecao-vintage-para-impressao-textil-papel-de-embrulho-cartao-de-presente-papel-de-parede_87543-4019.jpg?w=2000);
    position: relative;
    z-index: 1000;
}
#midle-message div::after{
    content: '';
    position: absolute;
    background-color: #F7CB9E;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#midle-message div:first-child{
    width: 100%;
    height: 60%;
    text-align: justify;
}
#midle-message div:nth-child(2){
    width: 100%;
    height: 30%;
}
#convidado{
    color: #1FB3A5;
    font-weight: bolder;
}
#idade{
    display: flex;
    justify-content: center;
    
}
#idade p{
    color: #EFB935;
    filter: drop-shadow(3px 3px 2px #F04D1D);
    font-size: 2.4rem;
    line-height: 1.8rem;
}
#idade #laiz-2{
    font-size: 2.5rem;
    padding: 0 10px;
    border-right: 2px solid #F04D1D;
}

#text{
    font-size: 1.2rem;
    color: #ec3f45;
    /*border-bottom: 1px solid #299DAF;*/
    
}
#convite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 25%;
    color: #F04D1D;
}
#convite p:nth-child(3){
    text-align: center;
}
#fogueira{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
#fogueira img{
    height: 100%;
}